* {
    padding: 0;
    margin: 0;
}

#first {
    margin-top: 50px;
    margin-left: 100px;
}

#title1 {
    font-size: 40px;
    margin-left: 60%;
}

.Help {
    margin-top: 30px;
    width: 500px;
    padding: 10px;
}

#title2 {
    font-size: 30px;
    margin-bottom: 7px;
}

.Person1 {
    margin-top: 20px;
    display: flex;
}

#info {
    padding-left: 30px;
}

#info p {
    padding-top: 10px;
    line-height: 25px;
}

.Person2 {
    display: flex;
    margin-top: 20px;
}